* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #ffe3d8;
}

.container {
  width: 90%;
  margin: 20px auto;
  text-align: center;
  background-color: #fff;
  padding: 40px;
  background-color: #0a043c;
  border-radius: 5px;
  border-radius: 20px;
  min-height: 700px;
}

h1 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 60px;
}

.userName {
  margin-top: 40px;
  font-size: 20px;
  color: #fff;
}

.gameButton {
  font-size: 30px;
  margin-top: 20px;
  padding: 20px;
  color: #333;
  border-radius: 5px;
}

.rockButton {
  margin-right: 20px;
}

.paperButton {
  margin-right: 20px;
}

.optionText {
  font-size: 20px;
  margin-top: 10px;
  color: #fff;
}

.vsText {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
  color: #f3f3f3;
}

.computerName {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #fff;
}

.userIcon {
  font-size: 60px;
  padding: 20px;
  color: #d8ecff;
}

.computerIcon {
  font-size: 40px;
  padding: 20px;
  color: #ffe3d8;
  margin-top: 100px;
}

.resultText {
  color: #fff;
  font-size: 20px;
  margin-top: 50px;
}

.newGameButton {
  margin-top: 60px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #0a043c;
  color: #fff;
}

@media (max-width: 678px) {
  h1 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .gameButton {
    font-size: 30px;
    margin-top: 20px;
    padding: 10px;
    color: #333;
    border-radius: 5px;
  }

  .vsText {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    color: #f3f3f3;
  }

  .computerIcon {
    font-size: 40px;
    padding: 10px;
    color: #ffe3d8;
    margin-top: 100px;
  }

  .userIcon {
    font-size: 40px;
    padding: 20px;
    color: #d8ecff;
  }

  .computerIcon {
    font-size: 40px;
    padding: 20px;
    color: #ffe3d8;
    margin-top: 100px;
  }

  .resultText {
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
  }

  .newGameButton {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #0a043c;
    color: #fff;
  }
}
